.GroupNoticePage{
    color : black;
    box-sizing: border-box;
    width: 20%;
    height: 100%;
    background-color: #222629;
    display: flex;
    flex-direction: column;
    position: fixed;

}
.commentInput{
    width: 90%;
    background-color: none;
    border-top: none;
    border-left: none;
    border-right: none;
}
.commentInputDiv{
    /* height: 30px; */
    line-height: 30px;

}
.articleCard{

    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-color: black;
    
}
.userIcon{
    border-radius: 15px;
}

.ArticlePage, .MyinfoPage, .SearchResultPage,.groupAdminPage{
    margin-left: 20%;
    overflow-y: auto;
    color : white;
    background-color:skyblue;
    flex-basis: 60%;
}
.userImage{
    position: relative;
    top : 40px;
    left : 20px;
    width: 40px;
    height: 40px;
}
.userNick{
    position: relative;
    right : 0;
    display: inline-block;
    margin-right: 20px;
}



.Notice{
    flex-grow: 1;
    background-color: snow;
}

.GroupList{
    flex-grow: 3;
}

.myInfo{
    position: relative;
    flex-basis: 80px;
    color : snow;
    box-sizing: border-box;
    /* padding-top : 10px; */
    text-align: right;
}