.GroupNoticePage{
    color : snow;
    box-sizing: border-box;
    width: 20%;
    height: 100%;
    background-color: #333642;
    display: flex;
    flex-direction: column;
    position: fixed;
    border-right: 1px solid rgba(0,0,0,0.4);
    border-left: 1px solid rgba(255,255,255,0.05);
    border-top: 1px solid rgba(255,255,255,0.05);
    box-shadow:  5 5px 5px rgba(171, 165, 165, 0.5);
}
.rerecomment{
    padding-left: 40px;
}


.commentInput{
    width: 90%;
    background-color: none;
    border-top: none;
    border-left: none;
    border-right: none;
}
.commentShowButton{
    display: block;
}
.commentInputDiv{
    line-height: 30px;
    flex-grow: 1;
    display: flex;
}
.articleCommentContainer{
    width:80%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #1a1c22;
    margin : 0 auto;
}
.commentTextArea{
    flex-basis: 80%;
}
.reCommentContainer{
    display: flex;
    height: 40px;
}
.updateCommentDiv{
    flex-basis: 70%;
}
.reCommentTextArea{
    width: 374px;
    height: 35px;
}
.updateCommentButton{
    flex-basis: 30%;
}
.commentButton{
    flex-basis: 20%;
    padding-top: 21px;
}
.articleCard{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 400px;
    background-color:#1a1c22;
    
}
#articleProfileImage{
    width: 40px;
    height: 40px;
    border-radius: 40px;
}
.articleUserImageDiv{
    padding-left: 10px;
}
.articleCardInfo{
    padding-left: 20px;
}
.articleCardHeader{
    flex-basis: 50px;
    padding-top: 5px;
    display: flex;
}
.articleImageSections{
    height: 250px;
    /* flex-grow: 1; */
}
#groupAticleDate{
    color: rgb(189, 186, 186);
}
.commentFunction{
    margin-left: 5px;
}
.commentFunction:hover{
    cursor: pointer;
    border-bottom: 1px solid gray;
    color: wheat;
}
#bothImage{
    border-radius: 100px;
}
.commentContainer{
    width: 96%;
    box-sizing: border-box;
    margin: 0 auto;
    padding-left: 5px;
    padding-top: 5px;
    border: 1px solid rgba(81, 93, 94, 0.516);
}
.deletedCard{
    height: 40px;
    background-color:#1a1c22;
    margin: 0 auto;
    line-height: 40px;
    margin-top: 15px;
    width: 80%;
}
.articleImageDiv{
    flex-basis: 96%;
    display: flex;
    /* margin : 0 auto; */
    padding-left: 20px;
}
.articleSection{
    /* flex-basis: 300px; */
    padding-left: 10px;
}
#articleImageDiv{
    
}
.userIcon{
    border-radius: 15px;
}
.GroupH1{
    background-color: #454a5e;
    width : 90%;
}

.ArticlePage, .MyinfoPage, .SearchResultPage,.groupAdminPage{
    margin-left: 20%;
    overflow-y: auto;
    color : white;
    background-color:#6b6c6d;
    flex-basis: 60%;
}
.articleManageFunctions{
    color:  gray;
    margin-left: 10px;
}
.adminFunctions{
    display: flex;
    flex-direction: row;
    flex-basis: 50%;
}
#groupMemberButton{
    color: rgb(212, 195, 95);
}
#groupMemberButton:hover{
    color: rgb(218, 190, 35);
    border-bottom: 1px rgb(218, 190, 35) solid;
}
#groupDeleteButton{
    color: rgb(102, 86, 86);
}
#groupDeleteButton:hover{
    color: rgb(221, 96, 96);
    border-bottom: 1px rgb(221, 96, 96) solid;
}
#publicData:hover{
    color: tan;
    cursor: pointer;
}
.DataPage{
    margin-left: 20%;
    overflow-y: auto;
    color : white;
    background-color:#6b6c6d;
    flex-basis: 60%;
}
.DataPage::-webkit-scrollbar {

    display:none;
    
} 

#adminH2{
    /* float: right; */
    /* position: relative; */
    margin-left: 30px;
   
    /* right: 0; */
}
.groupAdminMid{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.articleManageFunctions:hover{
    color:  wheat;
    border-bottom: 1px gray solid;
    cursor: pointer;
}
.FriendSideMenu{
    min-height: 100px;
    border: #333642 1px solid;
    margin-top : 20px;
    border-radius: 5px;
    margin-right: 10px;
    width: 80%;
    max-height: 90%;
    overflow-y: auto;
}
.FriendSideMenu::-webkit-scrollbar {

    display:none;
    
} 
.searchFunctions{
    display: inline-block;
    margin-left: 30px;
}
.searchFunctions:hover{
    cursor: pointer;
    color : wheat;
    border-bottom: 1px solid gray;
}
.makeGroupLabel:hover{
    cursor: pointer;
    color : wheat;
    border-bottom: 1px solid gray;
}
.SearchResultPage::-webkit-scrollbar {

    display:none;
    
} 
.ArticlePage::-webkit-scrollbar {

    display:none;
    
} 
.myinfoTextboxContainer{
    display: flex;
}
.myinfoTextboxLabelDiv{
    flex-basis: 50px;
    line-height: 55px;
}

.myinfoTextboxLabelDivimage{
    flex-basis: 65px;
    line-height: 55px;
}
.myinfoTextboxDiv{
    flex-grow: 1;
}
.myinfoTextboxLabelDivimageLabel{
    position: relative;
    line-height: 55px;
}
#myInfoImageButton{
   margin-left: 15px;
}
.myInfoimageChangeButton{
    margin-left: 15px;
    position: relative;
    bottom: 0;
}
#myInfoImageButton:hover{
    color: white;
    cursor: pointer;
}

.myInfoimageChangeButton:hover{
    border-bottom: 1px solid #cacaca;
    color : white;
}

.myinfoImageContollerDiv{
    display: flex;
    border-bottom: 1px solid #cacaca;
}
.myInfoImageDiv{
    flex-basis: 50px;
}
.myinfoTextBox{
    margin-top: 15px;
    margin-left: 20px;
    width: 70%;
}
.myInfoImageButtonDiv{
    flex-grow: 1;
}
.myinfoContainer{
    padding-top: 10px;
    width: 80%;
    border-top: 1px solid #cacaca;
    margin: 0 auto;
    margin-top: 30px;
}
.userImage{
    position: relative;
    top : 40px;
    left : 20px;
    width: 40px;
    height: 40px;
}
.userNick{
    position: relative;
    right : 0;
    display: inline-block;
    margin-right: 20px;
}



.Notice{
    flex-grow: 1;
    background-color: snow;
}

.GroupList{
    flex-grow: 3;
    margin-top: 10px;
}

.myInfo{
    position: relative;
    flex-basis: 80px;
    color : snow;
    box-sizing: border-box;
    /* padding-top : 10px; */
    text-align: right;
}

@keyframes shake {
	25% {
		transform: rotate(calc(var(--angle) * -1));
	}

	50% {
		transform: rotate(var(--angle));
	}

	100% {
		transform: rotate(0deg);
	}
}
.myGroupDiv{
    height: 40px;
    line-height: 40px;
    margin-left: 5px;
    position: relative;
    border-bottom: 1px solid#454a5e;
}
.goToadmin{
    float: right;
    position: relative;
    right: 2px;
}
#forGroupArticleDiv{
    flex-direction: column;
    flex-grow: 1;
    margin : 0 auto;
    width: 90%;

}
#forGroupArticlePost{
    flex-basis: 60%;
    border : 1px tan solid;
    margin-bottom: 20px;
}

.myGroupDiv :hover{
    background-color: #454a5e;
    color : tan;
    cursor: pointer;
}
#forGroupArticleEditor{
    padding-top: 120px;
    padding-right: 10px;
}
#forGroupArticleUpdateEditor{
    padding-top: 105px;
}
.HOVER {
	--width: 100%;
	--time: 0.7s;
	position: relative;
	display: inline-block;
	height: 1em;
	padding: 1em;

	color: white;
	background: #222;
	overflow: hidden;
}

.HOVER text {
	position: relative;
	z-index: 5;
	transition: color var(--time);
}

.HOVER:hover text {
	color: #222;
}
.HOVER span {
	border-radius: 100%;
	position: absolute;
	display: block;
	content: "";
	z-index: 0;
	width: 0;
	height: 0;

	background: #fff;
	transform: translate(-50%, -50%);
	transition: width var(--time), padding-top var(--time);
}

.HOVER:hover span {
	width: calc(var(--width)*2.25);
	padding-top: calc(var(--width)* 2.25);
}

.HOVER.FLASH:hover text {
	color: white;
}
.HOVER.FLASH span {
	background: #ff3b3b;
}

.animated {
	--angle: 5deg;
	animation: shake 0.3s;
}

.changeInfoButton{
    background:#8d8d8d;
    color:#fff;
    border:none;
    position:relative;
    height:30px;
    font-size:1.6em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    width: 100%;
  }
  .changeInfoButton:hover{
    background:#fff;
    color:#1AAB8A;
  }
  .changeInfoButton:before,.changeInfoButton:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #1AAB8A;
    transition:400ms ease all;
  }
  .changeInfoButton:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .changeInfoButton:hover:before,.changeInfoButton:hover:after{
    width:100%;
    transition:800ms ease all;
  }
  