.MenuBar{
    position: fixed;
    height: 50px;
    width: 100vw;
    border: 1px solid black;
    background-color: #1e1f26;
}
.myInfoButton{
    border-bottom: 1px solid gray;
    margin-right: 15px;
    float: right;
}

.myInfoButton:hover{
    cursor: pointer;
}

#loginIdBox, #loginPasswordBox{
    display: inline-block;
    margin-right: 10px;
    margin-top : 10px;
}

#searchTextBox{
    display: inline-block;
    margin-right: 15px;
    box-sizing: border-box;
    /* margin-top : 10px; */
}
#search{
    display: inline-block;
    position: absolute;
    top : 0;
}
.searchBox {
    position: absolute;
    top:0;
    right : 0; 
    transform:  translate(-50%,50%);
    background: #2f3640;
    height: 30px;
    border-radius: 40px;
    padding: 10px;

}

.searchBox:hover > .searchInput {
    width: 240px;
    padding: 0 6px;
}

.searchBox:hover > .searchButton {
  background: white;
  color : #2f3640;
}

.searchButton {
    color: white;
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.searchInput {
    border:none;
    background: none;
    outline:none;
    float:left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;

}

@media screen and (max-width: 620px) {
.searchBox:hover > .searchInput {
    width: 150px;
    padding: 0 6px;
}
}


.menuLogo{
    display: inline-block;
    width: 150px;
    height: 100%;
    border: 1px solid red;
}

.loginTextBox{
    width: 100px;
}
.menuLogo:hover{
    cursor: pointer;
}

.loginBox{
    display: inline-block;
    position : absolute;
    right: 0;
}

.helloUser{
        display: inline-block;
        position : absolute;
        right: 0;
        height: 100%;
        line-height: 50px;
}

.search{
    display: inline-block;
    position: absolute;
    right: 0;
    height: 100%;
    box-sizing: border-box;
    line-height: 50px;
    padding-right: 10px;
}